<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bag</key>
	<data>
	PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5v
	Ij8+CjwhRE9DVFlQRSBwbGlzdCBQVUJMSUMgIi0vL0FwcGxlIENvbXB1dGVyLy9EVEQg
	UExJU1QgMS4wLy9FTiIgImh0dHA6Ly93d3cuYXBwbGUuY29tL0RURHMvUHJvcGVydHlM
	aXN0LTEuMC5kdGQiPgo8cGxpc3QgdmVyc2lvbj0iMS4wIj4KPGRpY3Q+CiAgPGtleT5i
	dWlsZC12ZXJzaW9uPC9rZXk+PHN0cmluZz4yLjAtOTM4PC9zdHJpbmc+CiAgPGtleT5i
	YWctdHlwZTwva2V5PjxzdHJpbmc+c3RhbmRhcmQ8L3N0cmluZz4KICA8a2V5PnBsYXRm
	b3JtPC9rZXk+PHN0cmluZz5tYWNvczwvc3RyaW5nPgogIDxrZXk+dXVpZDwva2V5Pjxz
	dHJpbmc+Njk1NTE1ZDMtM2VjMC00ODc1LTg2MjctMjYyNDg5NTk2ODRjPC9zdHJpbmc+
	CiAgPGtleT5iYWctZXhwaXJ5LXRpbWVzdGFtcDwva2V5PjxpbnRlZ2VyPjE3MDY5NTQz
	NTcxOTQ8L2ludGVnZXI+CiAgPGtleT5yZXZlcnNlLXB1c2gtdXNlci1hY3Rpb24tcGVy
	Y2VudDwva2V5PjxpbnRlZ2VyPjA8L2ludGVnZXI+CiAgPGtleT5yZXZlcnNlLXB1c2gt
	bmlnaHRseS10YXNrLXBlcmNlbnQ8L2tleT48aW50ZWdlcj4wPC9pbnRlZ2VyPgogIDxr
	ZXk+YmF0Y2gtcXVlcnktbWF4LXVyaXM8L2tleT48aW50ZWdlcj41PC9pbnRlZ2VyPgog
	IDxrZXk+YmF0Y2gtY29uc2lzdGVuY3ktbWF4LXByb29mczwva2V5PjxpbnRlZ2VyPjY1
	PC9pbnRlZ2VyPgogIDxrZXk+YmF0Y2gtbG9nLWluY2x1c2lvbi1tYXgtcHJvb2ZzPC9r
	ZXk+PGludGVnZXI+NjA8L2ludGVnZXI+CiAgPGtleT5yZXN0LXF1ZXJ5PC9rZXk+PHN0
	cmluZz5odHRwczovL2t0LXByb2QuZXNzLmFwcGxlLmNvbTo0NDMva3RfY2xpZW50L3F1
	ZXJ5PC9zdHJpbmc+CiAgPGtleT5yZXN0LWJhdGNoLXF1ZXJ5PC9rZXk+PHN0cmluZz5o
	dHRwczovL2t0LXByb2QuZXNzLmFwcGxlLmNvbTo0NDMva3RfY2xpZW50L2JhdGNoX3F1
	ZXJ5PC9zdHJpbmc+CiAgPGtleT5yZXN0LWNvbnNpc3RlbmN5LXByb29mPC9rZXk+PHN0
	cmluZz5odHRwczovL2t0LXByb2QuZXNzLmFwcGxlLmNvbTo0NDMva3RfY2xpZW50L2Nv
	bnNpc3RlbmN5X3Byb29mPC9zdHJpbmc+CiAgPGtleT5yZXN0LXJldmlzaW9uLWxvZy1p
	bmNsdXNpb24tcHJvb2Y8L2tleT48c3RyaW5nPmh0dHBzOi8va3QtcHJvZC5lc3MuYXBw
	bGUuY29tOjQ0My9rdF9jbGllbnQvcmV2aXNpb25faW5jbHVzaW9uX3Byb29mPC9zdHJp
	bmc+CiAgPGtleT5yZXN0LXB1YmxpYy1rZXlzPC9rZXk+PHN0cmluZz5odHRwczovL2t0
	LXByb2QuZXNzLmFwcGxlLmNvbTo0NDMva3RfY2xpZW50L3B1YmxpY19rZXlzPC9zdHJp
	bmc+CiAgPGtleT5yZXN0LXJlcG9ydC10by1hcHBsZTwva2V5PjxzdHJpbmc+aHR0cHM6
	Ly9rdC1wcm9kLmVzcy5hcHBsZS5jb206NDQzL2t0X2NsaWVudC9yZXBvcnRfdmVyaWZp
	Y2F0aW9uX2ZhaWx1cmU8L3N0cmluZz4KPC9kaWN0Pgo8L3BsaXN0Pgo=
	</data>
	<key>certs</key>
	<array>
		<data>
		MIIFdjCCBF6gAwIBAgIQb1TZ63/M4Z1ZgpaYBHTAvzANBgkqhkiG9w0BAQsF
		ADBtMScwJQYDVQQDDB5BcHBsZSBTZXJ2ZXIgQXV0aGVudGljYXRpb24gQ0Ex
		IDAeBgNVBAsMF0NlcnRpZmljYXRpb24gQXV0aG9yaXR5MRMwEQYDVQQKDApB
		cHBsZSBJbmMuMQswCQYDVQQGEwJVUzAeFw0yMzA2MDUyMjI2MDJaFw0yNDA3
		MDQyMjI2MDFaMFcxHjAcBgNVBAMMFWluaXQta3QuZXNzLmFwcGxlLmNvbTET
		MBEGA1UECgwKQXBwbGUgSW5jLjETMBEGA1UECAwKQ2FsaWZvcm5pYTELMAkG
		A1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKkNsm
		YQqquXeMsG46re0vVgz4HFs/9izqgcjlfegLr0bQhDuKXtYeRrbstgkwqh9b
		K6vTQojO3oxeaMWb1FQh1n+IeMY/2FmC9zOBdZzW2I91bVftO+IhgHLn2sGq
		1wS8Ud/uy9I65lDtg83ZXDhHaZDHuBsbKtjyqHn8OhFd+z6cIGgDrWBv5VKT
		kBb/yXO6uVq0+42dvO1WT9FeevP0QmYJ0WBNKR3GpqL0r0JS6NRbS6W0Np0G
		938xEwR4UY9AcY2PF8QqKN0ymPuUPBJJRSuJlmavaDiMAFnXfkxnRPj+yr4R
		kPjMzstuAFQRhDbmcj7FcQPlJvJVQdTElCupAgMBAAGjggImMIICIjAMBgNV
		HRMBAf8EAjAAMB8GA1UdIwQYMBaAFCzFbVLdMe+M7AiB7d/cykMARQHQMIGF
		BggrBgEFBQcBAQR5MHcwOQYIKwYBBQUHMAKGLWh0dHA6Ly9jZXJ0cy5hcHBs
		ZS5jb20vYXBwbGVzZXJ2ZXJhdXRoY2ExLmRlcjA6BggrBgEFBQcwAYYuaHR0
		cDovL29jc3AuYXBwbGUuY29tL29jc3AwMy1hcHBsZXNlcnZlcmF1dGgyMjCB
		0wYDVR0RBIHLMIHIghppbml0LWt0LXRlc3QuZXNzLmFwcGxlLmNvbYIaaW5p
		dC1rdC1wcm9kLmVzcy5hcHBsZS5jb22CG2luaXQta3QtY2FycnkuZXNzLmFw
		cGxlLmNvbYIWaW5pdC1rdC10ZXN0LmFwcGxlLmNvbYIRaW5pdC1rdC5hcHBs
		ZS5jb22CF2luaXQta3QtY2FycnkuYXBwbGUuY29tghVpbml0LWt0LmVzcy5h
		cHBsZS5jb22CFmluaXQta3QtcHJvZC5hcHBsZS5jb20wEwYDVR0lBAwwCgYI
		KwYBBQUHAwEwPAYDVR0fBDUwMzAxoC+gLYYraHR0cDovL2NybC5hcHBsZS5j
		b20vYXBwbGVzZXJ2ZXJhdXRoY2ExLmNybDAdBgNVHQ4EFgQUFZm5kcVMW7ph
		p/Ide258Cb+oQ3EwDgYDVR0PAQH/BAQDAgWgMBEGCyqGSIb3Y2QGGwQCBAIF
		ADANBgkqhkiG9w0BAQsFAAOCAQEAhm2ueXB9Q4p1j8rtM0IPlt+uYEO2cSv8
		FWicgmFvGvwtkmiSth354fYEn0C2YveEPVmqmF2Zn3jXELHnUxH0EXuCee8S
		d0EBsvW0b8ghYMTPL+l0YwhuPpo5plCgw7znhNQY5sfzBdHz76yaBgyAofWZ
		WAwK4PHjXm8X5kUSppVpnJc0ye8WyN9QjU4p4bNIicY9SAKcAW9qUe2erdho
		T7rPNAMXC/yttr/ipSmqqAX2vUD0DP5t9IWLnyk8xKffOtQFxUPwhxWJtLTS
		MrEwgdwZqiXIEKcAW/o/tJCf3yLdhhOWMpwgze0INh1GUrFPY8qpF8zyh8l4
		mAjMY2L+OQ==
		</data>
		<data>
		MIID+DCCAuCgAwIBAgIII2l0BK3LgxQwDQYJKoZIhvcNAQELBQAwYjELMAkG
		A1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxl
		IENlcnRpZmljYXRpb24gQXV0aG9yaXR5MRYwFAYDVQQDEw1BcHBsZSBSb290
		IENBMB4XDTE0MDMwODAxNTMwNFoXDTI5MDMwODAxNTMwNFowbTEnMCUGA1UE
		AwweQXBwbGUgU2VydmVyIEF1dGhlbnRpY2F0aW9uIENBMSAwHgYDVQQLDBdD
		ZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTETMBEGA1UECgwKQXBwbGUgSW5jLjEL
		MAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC5
		Jhawy4ercRWSjt+qPuGA11O6pGDMfIVy9zB8CU9XDUr/4V7JS1ATAmSxvTk1
		0dcEUcEY+iL6rt+YGNa/Tk1DEPoliJ/TQIV25SKBtlRFc5qL45xIGoZ6w1Hi
		2pX4pH3bMN5sDsTF9WyY56b6VyAdGXN6Ds1jD7cniC7hmmiCuEBsYxYkZivn
		suJUfeeIOaIbgT4C0znYl3dKMgzWCgqzBJvxcm9jqBUebDfoD9tTkNYpXLxq
		V5tGeAo+JOqaP6HYP/XbbqhsgrXdmTjsklaUpsVzJtGuCLLGUueOdkuJuFQP
		buDZQtsqZYdGFLuWuFe7UeaEE/cNobaJrHzRIXSrAgMBAAGjgaYwgaMwHQYD
		VR0OBBYEFCzFbVLdMe+M7AiB7d/cykMARQHQMA8GA1UdEwEB/wQFMAMBAf8w
		HwYDVR0jBBgwFoAUK9BpR5R2Cf70a40uQKb3R01/CF4wLgYDVR0fBCcwJTAj
		oCGgH4YdaHR0cDovL2NybC5hcHBsZS5jb20vcm9vdC5jcmwwDgYDVR0PAQH/
		BAQDAgEGMBAGCiqGSIb3Y2QGAgwEAgUAMA0GCSqGSIb3DQEBCwUAA4IBAQAj
		8QZ+UEGBol7TcKRJka/YzGeMoSV9xJqTOS/YafsbQVtE19lryzslCRry9OPH
		nOiwW/Df3SIlERWTuUle2gxmel7Xb/Bj1GWMxHpUfVZPZZr92sSyyLC4oct9
		4EeoQBW4FhntW2GO36rQzdI6wH46nyJO39/0ThrNk//Q8EVVZDM+1OXaaKAT
		inYwJ9S/+B529vnDAO+xg+pTbVw1xw0HAbr4Ybn+xZprQ2GBA+u6X3Cd6G+U
		JEvczpKoLqI1PONJ4BZ3otxruY0YQrk2lkMyxst2mTU22FbGmF3Db6V+lcLV
		egoCIGZ4kvJnpCMN6Am9zCExEKC9vrXdTN1GA5mZ
		</data>
	</array>
	<key>signature</key>
	<data>
	Sq/LsoRFHjjo/kXB8EvL/rjALThO0eC+bMY+eo8aNLaySEmr9z5MRHLTgvCqKsojjOye
	36Xsiz7g9NTpHUW/I5wsoHjke4beRx4SWnv/Ph+B+/xb/yNb99qUev1RU82yL4FKERi1
	kc4RvP0Z2UzSAVyETiKJvLtymNSdhBSRZaVcERcdw5fD8sHNtgHf082iQPYFAnjL3rRX
	uBB9SeonqQcZPKjBPNaDRJ6lCBL0FBjqmzw2RuTX406t5YncIxzobDzNULeO+Ycg96VQ
	Z1G297ku36gZPMesU+WKDsOf4hNprNpsbiOGQi4zwtNKvO1oa0omjK+X3StKADXT6QJs
	Zg==
	</data>
</dict>
</plist>
